*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.snikers{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.snikers img{
    z-index: 2;
    width: 15rem;
    transition: all 0.75s ease-out;
}

body{
   
    transform-style: preserve-3d;
    font-family: "Poppins" ,  sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.container{
    
    padding: 0px 200px;
    /* background-color: #ca4141; */
    min-height: 100vh;
    width: 50%;
/* background-color: aqua; */

display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    
    min-height: 80vh;
    width: 35rem;
   /*  background: peachpuff; */
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    
}
.circle{
    width: 15rem;
    min-height: 15rem;
    background: linear-gradient(
        to right,
       rgba(245,70,66,0.75),
       rgba(8,83,156,0.75)
    );
    border-radius: 50%;
    z-index: 2;
    position: absolute;
} 
.details{
    margin: 4rem ;
}
.details h1{
    font-size: 3rem;
}
.details h2{
    font-size: 1.3rem;
    padding: 2rem 0;
    color: rgb(62, 66, 68);
    font-weight: lighter;
}
.sizes{
    display: flex;
    justify-content: space-around;
}
.sizes button{
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    font-weight: bold;
    color:#585858;
    cursor: pointer;
}
.sizes button.active{
    background: #585858;
    color: #fff;
}
.sizes button:hover{
    background: #585858;
    color: #fff;
    
}


 .checkout{
    margin-top: 1rem;
    padding: 0.4rem;
    background:  rgba(245,70,66,0.75);
    border: none;
    width: 100%;
    
    border-radius: 30px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
} 
.checkout:hover{
    background: rgba(245,70,66,1);
    color: #fff;
}
@media(max-width: 768px) {
    .container {
        width: 100%;
    }
    .card {
        padding: 0rem 1.2rem;
        width: 100%;
        height: fit-content;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .sneaker {
        width: 100%;
    }
    .sneaker img {
        width: 100%;
    }
    .circle {
        width: 62vw;
        height: 32vh;
    }
    .heading{
        margin-top: 2rem;
        
    }
    .sizes {
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    .circle{
        width: 10rem;
    }
    .sizes button {
        margin-bottom: 1.5rem;
    }
    .checkout {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
}